* {
    background-color: #90EA6F;
}
.form-combustivel {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    margin-top: .3rem;
}
label {
    font-family: 'Nunito', sans-serif;
}
.campos-combustiveis {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.campo-gasolina input, .campo-etanol input {
    border: 2px solid #070606; 
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    outline: 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #111;
    cursor: pointer;
    outline: 0;
    width: 270px;
    padding: 10px;
}