* {
    background-color: #5C3F89;
    color: #fff;
}
.area-geral {
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 10px;
}
.campos-combustiveis {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    font-size: 1.2rem;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #111;
    color: #fff;
    cursor: pointer;
    outline: 0;
    width: 20rem;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
}

@media (min-width: 320px) and (max-width: 375px) {
    button {
        margin: none;
        width: 17.4rem;
    }
}